html, body {
    height: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}
form {
    display: inline-block;
}
.wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
/* Word Cloud page */
#wordCloudHeader{
    color: black;
    text-align: center;
    padding:5px;
}
#wordCloud{
    margin: 0 auto;
    background-color:white;
    width:800px;
    height: 600px;
}
#paperSearch{
    margin: 0 auto;
    width: 400px;
}
#search {
    width: 300px;
    float: left;
}
#buttons{
    margin: 0 auto;
    width: 500px;
    clear: both;
}
#submit{
    background-color: purple;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
}
#addToCloud{
    background-color: purple;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
}
#fbShare{
    color: white;
    background-color: royalblue;
    font-size: 15px;
    padding: 5px 10px;
}

/* paper List page */
#paperHeader {
    color: black;
    text-align: left;
    padding:5px;
}
#paperTitles {
    margin: 0 auto;
}
#titles{
    float:left;
    width:300px;
    text-align: center;
}
#frequency{
    float:right;
    width:300px;
    text-align: center;
}
.buttons{
    background-color: purple;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
}

/* Lyrics page */
#lyricsHeader {
    color: black;
    text-align: left;
    padding:5px;
}
#lyrics{
    float:left;
    width:500px;
    text-align: left;
}
#topaperList{
    background-color: purple;
    font-size: 15px;
    color: black;
    padding: 5px 10px;
}
#toWordCloud{
    background-color: purple;
    font-size: 15px;
    color: black;
    padding: 5px 10px;
}